.Songs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.inputBox {
    margin: 20px;
}

.SongMap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.button {
    margin-left: 5px;
}